In [ ]:
Introduction to python programming

In [ ]:
Understanding the variables in python

In [7]:
x=2
y=3

In [8]:
z=x+y

In [9]:
print(z)

5

In [ ]:
Rules for declaring the variables in python

In [ ]:
Rule no. 1- no name spaces while declaring the variable name

In [10]:
first name = "Faiyaz"

SyntaxError: invalid syntax (1687658871.py, line 1)

In [11]:
firstname = "Faiyaz"

In [12]:
print(firstname)

Faiyaz

In [ ]:
Rule no. 2 - A variable name should not start with a number*************

In [13]:
1name = "Sandeep"

SyntaxError: invalid decimal literal (4112102871.py, line 1)

In [14]:
name1 = "Sandeep"

In [15]:
print(name1)

Sandeep

In [ ]:
Rule no. 3 - A variable should not contain any special characters (!@#$%^&* (Not to be used))

In [16]:
name@ = "Joseph"

SyntaxError: invalid syntax (1381492894.py, line 1)

In [ ]:
Introduction to data types-

In [ ]:
1. String ==========> str

In [ ]:
2. Numbers
interger============> int
float ==============> float (decimals=====> 0.1, 0.2....etc)

In [ ]:
3. List=============> list

In [ ]:
4. Tuples===========> tuple

In [ ]:
5. Dictionary=======> dict

In [ ]:
Classification of data types

In [ ]:
Broadly data types are classified into 2 categories:

In [ ]:
1. Mutable data type==> which we can edit/alter====> flexible in nature

In [ ]:
2. Immutable data type===> which we cannot be able to edit/ alter=====> fixed in nature

In [ ]:
Introduction to string datatypes

In [ ]:
Definition - A string is nothing but a series of characters declared in quotes

In [ ]:
Classification - It is classified as on immutable data type.

In [ ]:
How to define the string data types:

In [ ]:
1. Single quotes -''

In [ ]:
2. Double quotes - ""

In [1]:
name = 'Naga babu'

In [2]:
print(name)

Naga babu

In [3]:
name="Basha"

In [4]:
print(name)

Basha

In [5]:
type(name)

str

In [6]:
fullname="Joseph anthony"

In [7]:
print(fullname)

Joseph anthony

In [8]:
print(fullname.title())

Joseph Anthony

In [ ]:
# req: i want the entire name in capitals:

In [9]:
print(fullname.upper())

JOSEPH ANTHONY

In [ ]:
# req: i want the entire name in capitals:

In [10]:
print(fullname.lower())

joseph anthony