In [ ]:
Introduction to Python programming

In [ ]:
Understanding the variables in python:

In [ ]:
There are 3 rules while assinging th variables

In [ ]:
Rules for declaring the Python

In [ ]:
Rules no. 1 -  No name spaces while declaring the variable name

In [1]:
firstname = 'Santosh'

SyntaxError: invalid syntax (3369779445.py, line 1)

In [2]:
firstname ='Santosh'

In [3]:
print(firstname)

Santosh

In [4]:
print(first_name)

NameError: name 'first_name' is not defined

In [5]:
first_name = 'Santosh'

In [6]:
print(first_name)

Santosh

In [ ]:
Rule no.2 - Variable name should not start with number

In [7]:
1name = 'Santosh'

SyntaxError: invalid decimal literal (50400650.py, line 1)

In [8]:
name1 = 'Santosh'

In [9]:
print(name1)

Santosh

In [ ]:
Number can be used in middle or end except at the initial

In [6]:
name1sk ='Santosh'
print(name1sk)

Santosh

In [ ]:
Rule no. 3 - A variable should not contain any special characters

In [ ]:
Like @#$%^&*()

In [10]:
name@ = 'Santosh'
print(name)

SyntaxError: invalid syntax (4036762538.py, line 1)

In [12]:
Introduction to data types in Python

1. String = str

SyntaxError: invalid syntax (641611888.py, line 1)

In [ ]:
2. Number = Integer (int) and Floats (decimal eg 0.1, 0.2)

In [ ]:
3. List = list

In [ ]:
4. Tuples = tuple

In [ ]:
5. Dictionaries = dict

In [ ]:
Classification of data types:

In [ ]:
Broadly datatypes are classified in 2 categories

In [13]:
1. Mutable datatype
===> we can able to edit and alter
===> Flexible in nature

SyntaxError: invalid syntax (2538661094.py, line 1)

In [ ]:
2. Immutable datatypes
===> we cannot able to edit and alter
===> Fixed in nature

In [ ]:
Introduction to string data types

In [ ]:
Definition - String is a series of characters declared in quotes

In [ ]:
Classification - It is classified as an immutable data type

In [ ]:
How to define the string data type

In [ ]:
Single quote ''
Double quote ""

In [14]:
name = 'Santosh'
print(name)

Santosh

In [15]:
name = "Santosh"
print(name)

Santosh

In [ ]:
Introduction to String methods - Formulas

In [16]:
fullname='santosh kumar'
print(fullname)

santosh kumar

In [17]:
print(fullname.title())

Santosh Kumar

In [1]:
x=4

In [2]:
y=5

In [3]:
z=x+y

In [ ]:
print